@tailwind base;
@tailwind components;
@tailwind utilities;

/* BACKGROUND */
.bg-bg1 {
    background: url("../img/bg-1.jpeg");
}
.bg-bg2 {
    background: url("../img/bg-2.jpeg");
}
.bg-bg3 {
    background: url("../img/bg-3.jpeg");
}
.bg-bg4 {
    background: url("../img/bg-4.jpeg");
}
.bg-bg5 {
    background: url("../img/bg-5.jpeg");
}
.bg-bg6 {
    background: url("../img/bg-6.jpg");
}
.bg-bg7 {
    background: url("../img/bg-7.jpg");
}
.bg-bg8 {
    background: url("../img/bg-8.jpeg");
}
.bg-bg9 {
    background: url("../img/bg-9.jpeg");
}
.bg-bg10 {
    background: url("../img/bg-10.jpg");
}
.bg-bg11 {
    background: url("../img/bg-11.jpg");
}
.bg-bg12 {
    background: url("../img/bg-12.jpeg");
}
.bg-bg13 {
    background: url("../img/bg-13.jpg");
}

.nav-link{
    @apply lg:text-slate-200 lg:my-0 lg:w-full my-2 mx-auto text-center w-[100px] block text-black no-underline relative after:content-[''] after:scale-0 after:h-[2.5px] after:absolute lg:after:bg-slate-200 after:-bottom-[2px] after:rounded-lg after:transition-all after:duration-500 hover:after:scale-100 after:bg-slate-900 after:left-0 after:w-full;
    font-family: 'Poppins', sans-serif; 
}
.nav-link.active {
    @apply after:scale-100;
}

.navbar.active nav {
    @apply translate-x-0;
}

.hamburgerButton {
    @apply relative;
}

.hamburger-garis {
    @apply w-[30px] h-[2px] absolute rounded-sm bg-slate-900 duration-300 right-5;
}
.hamburgerButton.diklik .hamburger-garis:nth-child(1) {
    @apply origin-top-right rotate-[45deg];
}
.hamburgerButton.diklik .hamburger-garis:nth-child(2) {
    @apply scale-0;
}
.hamburgerButton.diklik .hamburger-garis:nth-child(3) {
    @apply origin-bottom-right -rotate-[45deg];
}

.buttonLink {
    @apply font-montserrat overflow-hidden relative hover:shadow-lg shadow-orange-400 text-[11px] tracking-wider px-3 py-2 border-2 border-orange-500 rounded-md text-slate-100 font-semibold lg:text-lg lg:px-5 lg:py-3 before:content-[''] before:w-0 before:h-full before:absolute before:top-0 before:left-0 before:bg-orange-500 before:z-[-1] hover:before:w-full before:transition-all before:duration-500;
}
.buttonHome .buttonLink:nth-child(2) {
    @apply before:w-full hover:before:w-0;
}

.font-ubuntu {
    font-family: 'Ubuntu', sans-serif;
}
.font-lato {
    font-family: 'Lato', sans-serif;
}
.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}
.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-roboto{
    font-family: "Roboto", sans-serif;
}

.font-afux{
    font-family: "Afacad Flux", sans-serif;
    font-weight: normal;
}
.cardTentang {
  @apply overflow-hidden bg-slate-200 px-5 py-4 rounded-md flex flex-col justify-center items-center shadow-xl lg:shadow-2xl w-full relative after:w-full after:h-full after:absolute after:top-0 after:left-0 after:bg-orange-500 after:z-[1] after:-translate-y-[1000px] after:transition-all after:duration-700 hover:after:-translate-y-0;
}
.slider {
  @apply absolute;
  inset: 40px 40px 200px 40px;
}
@media (min-width: 768px) {
  .slider {
    inset: 40px 40px 200px 40px;
  }
  
}
@media (min-width: 1024px) {
  .slider {
    inset: 80px 200px 80px 80px;
  }
  
}

.slider .slides {
  @apply absolute top-1/2 -translate-y-1/2 bg-cover bg-center transition-all duration-500 rounded-md shadow-2xl shadow-slate-800 flex justify-start items-end top-[initial] bottom-[-200px] w-[120px] h-[120px] lg:top-[50%] lg:bottom-0 lg:w-[240px] lg:h-[320px];
}
.slider .slides:nth-child(1),
.slider .slides:nth-child(2) {
  @apply absolute left-0 w-full h-full translate-y-0 bg-cover rounded-xl shadow-lg shadow-slate-600 transition-all duration-500 top-[initial] bottom-0 lg:top-0;
}
.slider .slides:nth-child(3) {
  @apply bg-cover left-0;
}
.slider .slides:nth-child(4) {
  @apply bg-cover left-[150px];
}
.slider .slides:nth-child(5) {
  @apply bg-cover left-[300px];
}
.slider .slides:nth-child(6) {
  @apply bg-cover left-[450px];
  opacity: 0;
}

@media (min-width: 1024px) {
  .slider .slides:nth-child(3) {
    left: calc(50% + 240px);
  }
  .slider .slides:nth-child(4) {
    left: calc(50% + 500px);
  }
  .slider .slides:nth-child(5) {
    left: calc(50% + 760px);
  }
  .slider .slides:nth-child(6) {
    left: calc(50% + 1020px);
    opacity: 0;
  }
}

.content {
  @apply relative max-w-[600px] transition-all duration-300 p-[20px] md:p-[40px] text-slate-300 opacity-0 translate-y-16;
}
.content h1 {
  @apply text-2xl md:text-5xl font-poppins tracking-widest font-extrabold md:mb-2;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.content p {
  @apply text-sm md:text-lg font-ubuntu tracking-wider font-semibold;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.slider .slides:nth-child(1) .content,
.slider .slides:nth-child(2) .content {
  @apply translate-y-0 opacity-100 delay-500;
}


.navigasi div {
  @apply w-[50px] h-[50px] rounded-full bg-orange-500 flex justify-center items-center text-xl mt-5 lg:mt-0;
}

.sliderUmkm {
  @apply w-full overflow-hidden h-[180px] relative mb-10;
  mask-image: linear-gradient(
    to right,
    transparent,
    #000 5% 95%,
    transparent
  );
}

.sliderUmkm .list {
  @apply flex gap-x-3;
}

.cardmenu {
  @apply w-[200px] h-[170px] rounded-md bg-blue-200 px-5 py-3 flex justify-center items-center flex-col absolute left-full transition-all duration-500;
  animation: umkmPlay 10s linear infinite;
  animation-delay: calc((10s / var(--jumlah)) * (var(--position) - 1))!important;
}
.sliderUmkm[reverse="true"] .cardmenu {
  animation: umkmPlayReverse 10s linear infinite;
}

.cardmenu:hover {
  @apply bg-orange-500;
}

.sliderUmkm:hover .cardmenu {
  animation-play-state: paused!important;
}



@keyframes umkmPlay {
  from {
    @apply left-full;
  }
  to {
    left: calc(200px * -8.7);
  }
}

@keyframes umkmPlayReverse {
  from {
    left: calc(200px * -8.7);
  }
  to {
    @apply left-full;
  }
}

@media (min-width: 768px) {
  @keyframes umkmPlay {
    from {
      @apply left-full;
    }
    to {
      left: calc(200px * -7.3);
    }
  }

  @keyframes umkmPlayReverse {
    from {
      left: calc(200px * -7.3);
    }
    to {
      @apply left-full;
    }
  }
}

@media (min-width: 1024px) {
  @keyframes umkmPlay {
    from {
      @apply left-full;
    }
    to {
      left: calc(200px * -6.3);
    }
  }

  @keyframes umkmPlayReverse {
    from {
      left: calc(200px * -6.3);
    }
    to {
      @apply left-full;
    }
  }
}

.cardmenu .gambar {
  @apply w-full;
}

.cardmenu .info {
  @apply text-center;
}

.cardmenu .info h3 {
  @apply text-xl font-ubuntu font-semibold tracking-wider;
}