@tailwind base;
@tailwind components;
@tailwind utilities;

/* BACKGROUND */
.bg-bg1 {
    background: url("../img/bg-1.jpeg");
}


.pariwisata1 {
    background: url("../img/pariwisata/bg-1.png");
}
.pariwisata2 {
    background: url("../img/pariwisata/bg-2.jpg");
}
.pariwisata3 {
    background: url("../img/pariwisata/3.png");
}
.pariwisata4 {
    background: url("../img/pariwisata/4.jpg");
}
.pariwisata5 {
    background: url("../img/pariwisata/5.png");
}
.pariwisata6 {
    background: url("../img/pariwisata/6.png");
}

.loading {
  @apply fixed top-0 left-0 bg-slate-100 w-full h-full z-[999] flex justify-center items-center;
}
.loading .items {
  @apply relative w-[100px] h-[100px];
}
.loading .items span {
  @apply absolute top-0 left-0 w-full h-full before:content-[''] before:absolute before:top-0 before:left-0 before:w-[10px] before:h-[10px] before:bg-orange-500 before:rounded-full;
  transform: rotate(calc(18deg * var(--position)));
}
.loading .items span::before {
  box-shadow: 0 0 10px var(--shadowColor),
  0 0 10px var(--shadowColor),
  0 0 20px var(--shadowColor);
  animation: animateLoad 2s linear infinite;
  animation-delay: calc(0.1s * var(--position));
}
@keyframes animateLoad {
  0% {
    transform: scale(1);
  }
  80%, 100% {
    transform: scale(0);
  }
}

#beranda {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-link{
    @apply lg:text-slate-200 lg:my-0 lg:w-full my-2 mx-auto text-center w-[100px] block text-black no-underline relative after:content-[''] after:scale-0 after:h-[2.5px] after:absolute lg:after:bg-slate-200 after:-bottom-[2px] after:rounded-lg after:transition-all after:duration-500 hover:after:scale-100 after:bg-slate-900 after:left-0 after:w-full;
    font-family: 'Poppins', sans-serif; 
}
.nav-link.active {
    @apply after:scale-100;
}

.navbar.active nav {
    @apply translate-x-0;
}

.hamburgerButton {
    @apply relative;
}

.hamburger-garis {
    @apply w-[30px] h-[2px] absolute rounded-sm bg-slate-900 duration-300 right-5;
}
.hamburgerButton.diklik .hamburger-garis:nth-child(1) {
    @apply origin-top-right rotate-[45deg];
}
.hamburgerButton.diklik .hamburger-garis:nth-child(2) {
    @apply scale-0;
}
.hamburgerButton.diklik .hamburger-garis:nth-child(3) {
    @apply origin-bottom-right -rotate-[45deg];
}

.buttonLink {
    @apply font-montserrat overflow-hidden relative hover:shadow-lg shadow-orange-400 text-[11px] tracking-wider px-3 py-2 border-2 border-orange-500 rounded-md text-slate-100 font-semibold lg:text-lg lg:px-5 lg:py-3 before:content-[''] before:w-0 before:h-full before:absolute before:top-0 before:left-0 before:bg-orange-500 before:z-[-1] hover:before:w-full before:transition-all before:duration-500;
}
.buttonHome .buttonLink:nth-child(2) {
    @apply before:w-full hover:before:w-0;
}

.font-ubuntu {
    font-family: 'Ubuntu', sans-serif;
}
.font-lato {
    font-family: 'Lato', sans-serif;
}
.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}
.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-roboto{
    font-family: "Roboto", sans-serif;
}

.font-afux{
    font-family: "Afacad Flux", sans-serif;
    font-weight: normal;
}
.cardTentang {
  @apply overflow-hidden bg-slate-200 px-5 py-4 rounded-md flex flex-col justify-center items-center shadow-xl lg:shadow-2xl w-full relative after:w-full after:h-full after:absolute after:top-0 after:left-0 after:bg-orange-500 after:z-[1] after:-translate-y-[1000px] after:transition-all after:duration-700 hover:after:-translate-y-0;
}
.slider {
  @apply absolute;
  inset: 40px 40px 200px 40px;
}
@media (min-width: 768px) {
  .slider {
    inset: 40px 40px 200px 40px;
  }
  
}
@media (min-width: 1024px) {
  .slider {
    inset: 80px 200px 80px 80px;
  }
  
}

.slider .slides {
  @apply absolute top-1/2 -translate-y-1/2 bg-cover bg-center transition-all duration-500 rounded-md shadow-2xl shadow-slate-800 flex justify-start items-end top-[initial] bottom-[-200px] w-[120px] h-[120px] lg:top-[50%] lg:bottom-0 lg:w-[240px] lg:h-[320px];
}
.slider .slides:nth-child(1),
.slider .slides:nth-child(2) {
  @apply absolute left-0 w-full h-full translate-y-0 bg-cover rounded-xl shadow-lg shadow-slate-600 transition-all duration-500 top-[initial] bottom-0 lg:top-0;
}
.slider .slides:nth-child(3) {
  @apply bg-cover left-0;
}
.slider .slides:nth-child(4) {
  @apply bg-cover left-[150px];
}
.slider .slides:nth-child(5) {
  @apply bg-cover left-[300px];
}
.slider .slides:nth-child(6) {
  @apply bg-cover left-[450px];
  opacity: 0;
}

@media (min-width: 1024px) {
  .slider .slides:nth-child(3) {
    left: calc(50% + 240px);
  }
  .slider .slides:nth-child(4) {
    left: calc(50% + 500px);
  }
  .slider .slides:nth-child(5) {
    left: calc(50% + 760px);
  }
  .slider .slides:nth-child(6) {
    left: calc(50% + 1020px);
    opacity: 0;
  }
}

.content {
  @apply relative max-w-[600px] transition-all duration-300 p-[20px] md:p-[40px] text-slate-300 opacity-0 translate-y-16;
}
.content h1 {
  @apply text-2xl md:text-5xl font-poppins tracking-widest font-extrabold md:mb-2 lg:text-nowrap;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.slider .slides:nth-child(1) .content,
.slider .slides:nth-child(2) .content {
  @apply translate-y-0 opacity-100 delay-500;
}


.navigasi div {
  @apply w-[50px] h-[50px] rounded-full bg-orange-500 flex justify-center items-center text-xl mt-5 lg:mt-0;
}


.sosmedLink {
  @apply border-[1px] border-slate-100 w-[40px] h-[40px] rounded-full flex justify-center items-center text-[17px] hover:text-slate-800 relative z-[1] overflow-hidden transition-all duration-500 before:w-0 before:h-full before:absolute before:bg-slate-100 before:top-0 before:left-0 before:transition-all before:duration-500 before:z-[-1] hover:before:w-full;
}

.inputDiv {
  @apply relative;
}
.inputKontak {
  @apply border-0 outline-none border-[1px] border-orange-500 rounded-sm px-3 py-2 text-[14px] w-full bg-transparent;
}
.spanInput, .spanInputArea {
  @apply w-0 h-full bg-orange-500 opacity-10 z-[-1] absolute top-0 left-0 transition-all duration-500;
}
.inputKontak:hover + .spanInput,
.inputKontak:focus + .spanInput,
.inputKontak:hover + .spanInputArea,
.inputKontak:focus + .spanInputArea
{
  @apply w-full;
}
.spanInputArea {
  @apply h-[90%]
}

.sliderBudaya {
  @apply w-full h-[150px] overflow-hidden relative;
  mask-image: linear-gradient(
    to right,
    transparent,
    #000 5% 95%,
    transparent
  );
}
.sliderBudaya .list {
  @apply flex gap-x-5;
}
.sliderBudaya .list .gambarSlide {
  @apply w-[200px] h-[150px] object-cover absolute left-full rounded-lg transition-all duration-300;
  animation: sliderPlay 10s linear infinite;
  animation-delay: calc((10s / var(--jumlah)) * (var(--position) - 1));
}
.sliderBudaya .list .gambarSlide:hover {
  filter: grayscale(0);
}

.sliderBudaya:hover .gambarSlide {
  animation-play-state: paused!important;
  filter: grayscale(1);
}

@keyframes sliderPlay {
  from {
    @apply left-full;
  }
  to {
    left: calc(200px * -8.7);
  }
}

@media (min-width: 768px) {
  @keyframes sliderPlay {
    from {
      @apply left-full;
    }
    to {
      left: calc(200px * -7.3);
    }
  }
}

@media (min-width: 1024px) {
  @keyframes sliderPlay {
    from {
      @apply left-full;
    }
    to {
      left: calc(200px * -6);
    }
  }
}

.gridTemplate {
  display: grid;
  grid-template-areas: 
  "item1"
  "item2"
  "item3";
  grid-gap: 10px;
  @apply mt-10 h-auto lg:h-[400px];
}
@media (min-width: 768px) {
  .gridTemplate {
    grid-template-areas: 
    "item1 item2"
    "item1 item3";
  }
  
}

.gridTemplate .items1 {
  grid-area: item1;
  background: url("../img/tempat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.gridTemplate .items2 {
  grid-area: item2;
  background: url("../img/makanan.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.gridTemplate .items3 {
  grid-area: item3;
  background: url("../img/minuman.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.gridTemplate div {
  @apply rounded-md text-slate-100 relative flex justify-center items-center flex-col px-5 py-3 overflow-hidden;
}
.gridTemplate div .bgText {
  @apply absolute w-full h-full top-0 left-0 bg-slate-900 z-[1] opacity-0 transition-all duration-300;
}
.gridTemplate div:hover .bgText {
  @apply opacity-60;
}
.gridTemplate div .text {
  @apply translate-y-[300px] relative z-[3] transition-all duration-500;
}
.gridTemplate div:hover .text {
  @apply translate-y-0;
}
.gridTemplate div .text h3 {
  @apply relative z-[2] text-xl font-bold;
}
.gridTemplate div .text p {
  @apply relative z-[2] text-[12px] text-center mt-2;
}